<div class="table-responsive">
   <table class="table table-striped">

    <h1>index</h1>
      <thead>
        <tr>
          <th>No.</th>
          <th>企業名</th>
          <th>施策の希望</th>
          <th>対象者</th>
          <th>対象人数</th>
          <th>合格目標</th>
          <th>予算</th>
          <th>開始時期</th>
          <th>可能曜日</th>
          <th>受験経験</th>
          <th>前年施策</th>
          <th>前年合格率</th>
          <th>その他</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <% @pages.each do |page|%>
        <tbody>
          <tr>
            <td><%= page.id %></td>
            <td><%= page.companyname %></td>

            <% if page.training? %>
              <td><%= "研修" %></td>
            <% elsif page.schooling? %>
              <td><%= "通学" %></td>
            <% elsif page.correspondence? %>
              <td><%= "通信" %></td>
            <% else %>
              <td><%= "教材提供" %></td>
            <% end %>

            <% if page.nominee? %>
              <td><%= "内定者" %></td>
            <% elsif page.newemloyer? %>
              <td><%= "新入社員" %></td>
            <% elsif page.employer? %>
              <td><%= "社員" %></td>
            <% else %>
              <td><%= "その他" %></td>
            <% end %>

            <td><%= page.people %>名</td>
            <td><%= page.goal %>%</td>
            <td><%= page.budget %>万円</td>
            <td><%= page.start %>月</td>

            <% if page.mon? %>
              <td><%= "月" %></td>
            <% elsif page.tue? %>
              <td><%= "火" %></td>
            <% elsif page.wed? %>
              <td><%= "水" %></td>
            <% elsif page.tur? %>
              <td><%= "木" %></td>
            <% elsif page.fri? %>
              <td><%= "金" %></td>
            <% elsif page.sat? %>
              <td><%= "土" %></td>
            <% else %>
              <td><%= "日" %></td>
            <% end %>

            <td><%= page.examination %>%</td>

            <% if page.nothing? %>
              <td><%= "なし" %></td>
            <% elsif page.aidtraining? %>
              <td><%= "研修" %></td>
            <% elsif page.incentive? %>
              <td><%= "報奨金" %></td>
            <% elsif page.support? %>
              <td><%= "取得補助" %></td>
            <% end %>


            <% if page.true? %>
              <td><%= "有" %></td>
            <% elsif page.false? %>
              <td><%= "無" %></td>
            <% end %>

            <td><%= page.lastpassrate %>%</td>
            <td><%= page.others %></td>

            <% if page.yet? %>
              <td><%= button_to "未着手" ,page_path(id: page.id), method: :patch %></td>
            <% else %>
              <td><%= "〇" %></td>
            <% end %>

          </tr>
        </tbody>
      <% end %>
    </table>
  <%= button_to '作成',root_path,method: :get %>
</div>
