<div class="table-responsive">
  <div class="text-center">
   <table class="table table-striped">

    <h1>index</h1>

      <thead>
        <tr>
          <th>No.</th>
          <th>企業名</th>
          <th>施策のご希望</th>
          <th>対象者</th>
          <th>対象人数</th>
          <th>合格目標</th>
          <th>予算</th>
          <th>開始時期</th>
          <th>可能曜日</th>
          <th>受験経験</th>
          <th>前年施策</th>
          <th>前年合格率</th>
          <th>その他</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <% @pages.each do |page|%>
        <tbody>
          <tr>
            <td><%= page.id %></td>
            <td><%= page.companyname %></td>
            <td><%= page.tool %></td>
            <td><%= page.property %></td>
            <td><%= page.people %>名</td>
            <td><%= page.goal %>%</td>
            <td><%= page.budget %>万円</td>
            <td><%= page.start %>月</td>
            <td><%= page.weekday %></td>

            <% if page.true? %>
            <td><%= "有" %></td>
            <% elsif page.false? %>
            <td><%= "無" %></td>
            <% end %>

            <td><%= page.aid %></td>
            <td><%= page.lastpassrate %>%</td>
            <td><%= page.others %></td>

            <% if page.yet? %>
              <td><%= button_to "確認" ,page_path(id: page.id), method: :patch %></td>
            <% else %>
              <td><%= "✔" %></td>
            <% end %>

          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  <%= button_to '作成',root_path,method: :get %>
</div>
